.header,
.sidebar,
.editor,
.preview .toolbar {
    display: none;
}
.preview .output {
    font-family: Monaco, Consolas, Courier New, Lucida Console, monospace, serif;
    font-size: 10pt;
    line-height: 11pt;
}