@font-face {
    font-family: 'Menlo Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Menlo Regular'), url('../fonts/Menlo-Regular.woff') format('woff');
}

* {
    box-sizing: border-box;
    z-index: 0;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
}

/**
 * Welcome
 */
.welcome {
}
    .welcome .content {
        text-align: center;
    }
        .welcome .content h1,
        .welcome .content h2 {
            margin: 0.5rem 0;
        }
        .welcome .content h1 {
            display: inline-block;
            padding-bottom: 6px;

            border-bottom: 4px solid yellow;

            font-size: 2rem;
            font-weight: 700;
            color: white;
        }
        .welcome .content h2 {
            font-size: 1.4rem;
            font-weight: 300;
            color: rgba(255, 255, 255, 0.6);
        }
        .welcome .content .button {
            display: inline-block;
            padding: 0.75rem 1.15rem;
            margin-top: 2.75rem;

            background-color: yellow;
            border: 2px solid yellow;
            border-radius: 3px;

            text-decoration: none;
            font-weight: 700;
            font-size: 1.1rem;
            color: #222222;
        }
            .welcome .content .button:hover,
            .welcome .content .button:active {
                background-color: transparent;

                color: yellow;
            }
        .welcome .content .sub-button {
            margin-top: 1rem;

            color: rgba(255, 255, 255, 0.6);
        }
            .welcome .content .sub-button a {
                border-bottom: 1px dotted rgba(255, 255, 255, 0.6);

                text-decoration: none;
                color: rgba(255, 255, 255, 0.9);
            }
            .welcome .content .sub-button a:hover,
            .welcome .content .sub-button a:active {
                border-bottom-width: 0;
            }
        .welcome .content .copyright {
            display: block;
            margin-top: 2rem;

            font-size: 0.75rem;
            color: rgba(255, 255, 255, 0.4);
        }
            .welcome .content .copyright a {
                border-bottom: 1px dotted rgba(255, 255, 255, 0.4);

                text-decoration: none;
                color: rgba(255, 255, 255, 0.75);
            }
            .welcome .content .copyright a:hover,
            .welcome .content .copyright a:active {
                border-bottom-width: 0;
            }


/**
 * Overlay
 */
.overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.85);
}
    .overlay .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

/**
 * Header
 */
header {
    height: 15vh;
}
    header .input,
    header .output {
        float: left;

        width: 50vw;
    }
    header .input {
        color: white;
    }
    header .output {
        color: #333333;
    }
        header .input .title,
        header .input .tools,
        header .output .title,
        header .output .tools {
            position: relative;

            height: 7.5vh;
            padding: 0 30px;

            line-height: 7.5vh;
            color: inherit;
        }
            header .input .tools strong,
            header .output .tools strong {
                margin-right: 5px;
            }
            header .input .tools .button,
            header .output .tools .button {
                padding: 5px 7px;
                margin: 0;

                background-color: transparent;
                border: 1px solid rgba(255, 255, 255, 0.6);
                border-radius: 4px;

                text-decoration: none;
                font-size: 0.8rem;
                font-weight: 700;
            }
        header .input .title {
            background-color: #222222;
        }
        header .input .tools {
            background-color: #333333;
        }
            header .input .tools .button {
                border-color: rgba(255, 255, 255, 0.6);

                color: rgba(255, 255, 255, 0.6);
            }
            header .input .tools .button:hover {
                border-color: white;

                color: white;
            }
        header .output .title {
            background-color: #cccccc;
        }
        header .output .tools {
            background-color: #dddddd;
        }
            header .input .title h2,
            header .output .title h2 {
                display: inline-block;
                margin: 0;

                font-size: 1rem;
                font-weight: 700;
                color: inherit;
            }
            header .input .title .button,
            header .output .title .button {
                position: absolute;
                top: 1.8vh; right: 30px;

                padding: 0 0.8rem;

                background-color: transparent;
                border-width: 2px;
                border-style: solid;
                border-radius: 3px;

                text-decoration: none;
                font-weight: 700;
                line-height: 3.5vh;
                color: inherit;
            }
            header .input .title .button:hover,
            header .output .title .button:hover,
            header .input .title .button:active,
            header .output .title .button:active {
                opacity: 0.6;
            }
            header .output .tools .button {
                border-color: #333333;

                color: #333333;
            }
            header .output .tools .button:hover {
                border-color: #666666;

                color: #666666;
            }
            header .output .tools .button.active,
            header .output .tools .button.active:hover {
                background-color: #27ae60;
                border-color: #27ae60;

                color: white;
            }

/**
 * Main
 */
main {
    position: relative;

    height: 85vh;
}
    main .input,
    main .output {
        position: absolute;

        overflow: auto;

        width: 50vw;
        height: 100%;
        margin: 0;
        padding: 30px;
    }
    main .input {
        left: 0;

        background-color: #444444;
        border-width: 0;

        font-family: Monaco, Lucida Console, Courier New, Consolas, monospace, serif;
        font-size: 0.85rem;
        line-height: 1.25rem;
        color: white;
    }
    main .output {
        right: 0;

        background-color: #eeeeee;

        font-family: Monaco, Consolas, Courier New, Lucida Console, monospace, serif;
        font-size: 11pt;
        color: #333333;
    }

/**
 * Informations boxes
 */
.information-box {
    width: 100%;
    max-width: 26rem;

    background-color: #cccccc;
    border-radius: 4px;
}
    .information-box .head {
        padding: 15px 20px;

        background-color: #bbbbbb;
        border-radius: 4px 4px 0 0;
    }
        .information-box .head h3 {
            margin: 0;
            padding: 0;

            text-align: center;
        }
        .information-box .head .close {
            position: absolute;
            top: 15px; right: 15px;

            display: block;
            width: 20px;
            height: 20px;

            background-color: #888888;
            border-radius: 20px;

            text-decoration: none;
            text-align: center;
            font-weight: 700;
            line-height: 18px;
            color: rgba(255, 255, 255, 0.6);
        }
        .information-box .head .close:hover,
        .information-box .head .close:active {
            background-color: #666666;
        }
    .information-box .body {
    }
        .information-box .body p {
            margin: 0;
            padding: 15px 20px;
        }
            .information-box .body p code {
                padding: 1px 4px;

                background-color: #aeaeae;
                border-radius: 3px;

                font-family: Arial, sans-serif;
                font-size: 0.8rem;
            }
